<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">

    {{#is "home"}}
        {{#if @site.cover_image}}
            <link rel="preload" as="image" href="{{@site.cover_image}}">
        {{/if}}
    {{/is}}

    <style>
        :root {
            --background-color: {{@custom.background_color}}
        }
    </style>

    <script>
        /* The script for calculating the color contrast was taken from
        https://gomakethings.com/dynamically-changing-the-text-color-based-on-background-color-contrast-with-vanilla-js/ */
        var accentColor = getComputedStyle(document.documentElement).getPropertyValue('--background-color');
        accentColor = accentColor.trim().slice(1);
        var r = parseInt(accentColor.substr(0, 2), 16);
        var g = parseInt(accentColor.substr(2, 2), 16);
        var b = parseInt(accentColor.substr(4, 2), 16);
        var yiq = ((r * 299) + (g * 587) + (b * 114)) / 1000;
        var textColor = (yiq >= 128) ? 'dark' : 'light';

        document.documentElement.className = `has-${textColor}-text`;
    </script>

    {{ghost_head}}
</head>

<body>
    <div class="gh-site gh-error gh-outer">
        <header id="gh-head" class="gh-head">
            <div class="gh-head-inner gh-inner">
                <div class="gh-head-brand">
                    <div class="gh-head-brand-wrapper">
                        <a class="gh-head-logo" href="{{@site.url}}">
                            {{#if @site.logo}}
                                <img src="{{@site.logo}}" alt="{{@site.title}}">
                            {{else}}
                                {{@site.title}}
                            {{/if}}
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <main class="gh-error-outer">
            <div class="gh-error-inner gh-inner">
                <h1>Oops! Something went wrong.</h1>
                <q>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/{{statusCode}}">{{statusCode}}: {{message}}</a>
                </q>
                <div class="gh-error-return-button">
                    <p>
                        <a href="{{@site.url}}">Click here to go back to the front page</a>
                    </p>
                </div>
                
                {{#if errorDetails}}
                    {{#foreach errorDetails}}
                        <li>
                            <em>{{{rule}}}</em>

                            {{#foreach failures}}
                                <p>Ref: {{ref}}</p>
                                <p>Message: {{message}}</p>
                            {{/foreach}}
                        </li>
                    {{/foreach}}
                {{/if}}
            </div>
        </main>
        <footer class="gh-foot gh-outer">
            <div class="gh-foot-inner gh-inner">
                <div class="gh-foot-left">
                    <p>I stand against every discrimination and hate<br />
                    모든 차별과 혐오에 반대합니다</p>
                </div>
                <div class="gh-copyright">
                    {{#unless @custom.footer_text}}
                        <p>©2019-{{date format="YYYY"}} Sidney Jeong. Some rights reserved.</p>
                        <p>All contents from myself on this site are freely available under <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" target="_blank">Creative Commons License by-sa 4.0</a> unless otherwise specified.<br />
                        The opinions and views the contents might present are solely my personal ones, and unrelated to any organisation or group I belong to.</p>
                        <p>이 블로그의 모든 내용과 견해는 저의 개인적인 것이며, 제가 속해 있는 어떤 회사, 기관, 또는 집단과도 무관합니다.<br />
                        이 블로그에 저의 개인정보가 공개된 경우 이는 제가 그 정보의 처리(수집·이용)에 동의함을 의미하지 않습니다.</p>
                    {{else}}
                        {{@custom.footer_text}}
                    {{/unless}}
                </div>
            </div>
        </footer>
    </div>
</body>
